<footer class="footer">
    <div class="container text-center">
      <!-- <img src="assets\image\SZ_Logo_11_LOGO3_processed.jpeg" alt="SecureZone Logo" class="logo mb-2"> -->
      <!-- <h2 class="mb-2 line" style="font-size: 1rem;"></h2> -->
      <p class="mb-1" style="font-size: 0.9rem;">9-1-127, Ground Floor, LGK Nagar, Hyderabad 
        E-mail: <a href="mailto:Tester@securedzone.in" class="text-dark">tester&#64;securedzone.in</a>, 
        Mobile: <a href="tel:+91905971234" class="text-dark">+91 9190591234</a>
      <b><a href="http://www.securedzone.in" class="text-dark">www.securezone.in</a></b></p>
    </div>
  </footer>
  