<mat-card>
    <div class="content">
        <h1>CLOSED CIRCUIT TV SYSTEMS</h1>
        <div class="section">
            <img src="path/to/cctv-image.jpg" alt="CCTV Image" class="section-image">
            <div class="section-text">
                <p>
                    Our company designs integrated systems for projects taking into account all the requirements envisaged by the customer. Large and small projects are designed by considering the operating scenarios provided by the customer and the risk analysis carried out by the engineers of our company to provide optimum equipment configuration.
                </p>
                <p>
                    Closed Circuit TV Systems installed for security purposes are normally used to manage the movement of people around the areas to be protected. The videos captured by these cameras are stored either digitally or conventionally. The digitally stored videos can be accessed from a remote location.
                </p>
            </div>
        </div>

        <h1>ACCESS CONTROL SYSTEMS</h1>
        <div class="section">
            <img src="path/to/access-control-image.jpg" alt="Access Control Image" class="section-image">
            <div class="section-text">
                <p>
                    APROTEK provides Access Control Systems, which constitute an integral part of electronic security systems, with a wide range of products according to the operating scenarios provided by the customer and the risk analysis carried out by our engineers for the fulfillment of multiple purposes. These are put into operation and delivered as a turnkey optimum equipment configuration.
                </p>
            </div>
        </div>

        <h1>BIOMETRIC HAND & FINGERPRINT IDENTITY</h1>
        <div class="section">
            <img src="path/to/biometric-image.jpg" alt="Biometric Image" class="section-image">
            <div class="section-text">
                <p>
                    This provides solutions and makes it possible for the system to be integrated according to the scenarios provided by the customer. The systems are therefore installed based on the risk analysis carried out by our company to provide turnkey solutions with an optimum equipment configuration. Biometric devices, used as stand-alone or integrated systems are designed by making use of the measurable unique physical human characteristics for identity verifications.
                </p>
                <p>
                    Biometric solutions that utilize measurable unique human body parts are as follows: Finger Print Identification System, Face Recognition System, Iris Identification System, Retina Identification System, Hand Geometry Identification System, and Vein (Fist) Identification System.
                </p>
            </div>
        </div>

        <h1>INTERCOM & VIDEO INTERCOM SYSTEMS</h1>
        <div class="section">
            <img src="path/to/intercom-image.jpg" alt="Intercom Image" class="section-image">
            <div class="section-text">
                <p>
                    Our company installs intercom systems for homes and offices and offers a wide range of products in this field from small home systems to large systems for residential estates such as condominiums according to the operating scenario provided by the customer and the risk analysis carried out by our engineers with an optimum equipment configuration.
                </p>
                <p>
                    Intercom systems with or without image transmission are installed in the most suitable places to ensure entrance security. They can be used as stand-alone or networked depending on the number of users and of entrances to be managed. Depending on the existing wirings of the building or by the request from the customer analog or digital intercom systems can be installed. Depending on installed configurations, the system permits host-visitor communication or communication between occupants of the same building or communication between a caretaker and visitors. In residential estates and condominiums, the system permits communication between the occupants of apartments and the security staff and visitors. Designs are normally carried out according to the chosen option and the budget of the customer.
                </p>
            </div>
        </div>

        <h1>PUBLIC ADDRESS SYSTEMS</h1>
        <div class="section">
            <img src="path/to/pa-system-image.jpg" alt="PA System Image" class="section-image">
            <div class="section-text">
                <p>
                    A public address or PA system is a combination of a set of audio equipment that allows broadcasts over a designated area. Often found in schools, office buildings, Malls. PA systems can be used for announcements or emergency information and provide a simple way to get information out quickly. PA systems can be basic or advanced, and can be adapted to fit a variety of needs.
                </p>
                <p>
                    Basic PA systems are comprised of loudspeakers placed in convenient locations around the broadcasting area, an amplifier to increase the sound, and a mixer, which allows variation in sound levels. The user speaks into a microphone, and the sound is transmitted through connected cables to the area surrounding the speakers. Some systems also include microphones or intercoms near the speaker locations, allowing the listener to reply to the central location, although not to the entire system.
                </p>
            </div>
        </div>
    </div>
</mat-card>
