.content {
  margin: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:larger;
  font-weight: 400;
}

h1 {
  width: 98.5%;
  margin-top: 80px;
  margin-left: 10px;
  text-align: center;
  color:cornflowerblue;
  margin-bottom: 30px;
  font-size: xx-large;
  background-color: rgb(254, 254, 251);
  font-weight: bold;
  padding: 10px 0;
  border-radius: 5px; /* Rounded corners for better aesthetics */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

h1:hover {
  transition: transform 0.3s ease, color 0.3s ease; /* Smooth hover effects */
  transform: scale(1.05); /* Slightly enlarges the text */
  color: #3b5dc9; /* Changes text color to a darker shade */
  cursor: pointer;
}

.systems-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.system-card {
  max-width: 400px;
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  /* transition: transform 0.2s; */
}

.system-card img:hover {
  transform: scale(1.25);
}

.system-card h2 {
  color: #4caf50;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.system-card img {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 30px;
}

.description {
  text-align: left;
  font-size: 0.95em;
  color: #555;
}

.description p {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .systems-container {
    flex-direction: column;
    align-items: center;
  }

  .system-card {
    max-width: 90%;
  }
}
.system-card button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: cornflowerblue;;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;

}
.system-card button:hover {
  background-color: #3b5dc9;
  transform: scale(1.15);
  font-weight: bold; 
}

