.solar-products {
  font-family: Arial, sans-serif;
  margin: 50px;
  font-size:larger;
  margin-top: 100px;
  /* margin: 50px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:larger;
  font-weight: 400;
  margin-top: 100px; */
}

.header {
  text-align: center;
  color: blue;
  margin-bottom: 20px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.product-card {
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 350px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-title {
  font-size: 1.5rem;
  color: #34495e;
  margin: 10px 0;
  font-weight: 10px;
}

.product-description {
  list-style: none;
  padding: 0;
  color: #7f8c8d;
  font-size: 0.9rem;
}

.product-description li {
  margin-bottom: 8px;
  font-size: 20px;
}
button{
  background-color:rgb(72, 72, 192);
  color: white;
}
