<div class="solar-products">
  <h1 class="header"><b>SOLAR SYSTEM PRODUCTS</b></h1>
  <div class="products-list">
    <div class="product-card" *ngFor="let system of systems">
      <img [src]="system.image" alt="{{ system.title }}" class="product-image" />
      <h2 class="product-title">{{ system.title }}</h2>
      <ul class="product-description">
        <li *ngFor="let desc of system.description">{{ desc }}</li>
      </ul>
      <button (click)="onInquire(Contacts)">Inquire Now</button>
    </div>
  </div>
</div>
