<!-- about-us.component.html -->
<div class="container contact-section">
    <div class="ui-bc ui-breadcrumbs breadcrumbs" itemprop="breadcrumb">
      <span class="ui-bc-first">
        <a href="/" title="Home" rel="home" class="ui-bc-first">Home</a>
      </span>
      <span class="ui-bc-seperator">
        <i class="ui--caret fontawesome-angle-right px18"></i>
      </span>
      <span class="ui-bc-last">About Us</span>
    </div>
  
    <h1 style="color: blue;">ABOUT US</h1>
  
    <p>
      <b>SecureZone</b> was constituted in 2003 to provide the highest technological solutions and services in the fields of Fire Fighting, Security Systems, and the Electrical sector for privately owned or governmental leading institutions in India.
    </p>
    <p>
      We manage all of our installed systems located across India, relying on our technical staff, which consists of highly specialized engineers and technicians skilled in advanced security technologies and telecommunication systems.
    </p>
    <p>
      Our expertise spans Fire Fighting, Security Systems, Networking, and Electrical projects. We offer project design and implementation services and provide solutions by applying the latest technological advancements.
    </p>
    <div>
      <ul>
        <li>Consultancy and project preparation services</li>
        <li>Engineering services</li>
        <li>Distribution and Representation services</li>
        <li>System & product procurement, and installation services</li>
        <li>After sales services: Technical support and maintenance</li>
      </ul>
      <img src="assets\image\eye.jpg" alt="Icon" class="list-icon-right">
    </div>
  </div>
  