<!-- <div class="hero-section">
    <div class="hero-content">
      <h1>Empowering Your Future with Innovative</h1>
 <div class="underline"><h1>Solutions</h1></div>
      <span class="underline"></span>
<div><h3>From Solar Power to Security Systems, We've Got You Covered</h3></div>
    
    </div>



    uuuuuuuuuuuu
  </div> -->


  
  
  <div class="gallery-container contact-section">
    <mat-card class="gallery-card">
      <img mat-card-image src="assets\image\download (2).jpeg" alt="Image 1">
    </mat-card>
    <mat-card class="gallery-card">
      <img mat-card-image src="assets\networking.jpg" alt="Image 4">
      
    </mat-card>
    <mat-card class="gallery-card">
      <img mat-card-image src="assets\image\images (2).jpeg" alt="Image 2">
     
    </mat-card>
  
    <mat-card class="gallery-card">
      <img mat-card-image src="assets\image\OIP (1).jpeg" alt="Image 4">
      
    </mat-card>
  
    <mat-card class="gallery-card">
      <img mat-card-image src="assets\image\OIP (11).jpeg" alt="Image 4">
     
    </mat-card>
  
    <mat-card class="gallery-card">
      <img mat-card-image src="assets\image\OIP (13).jpeg" alt="Image 4">
      <!-- <img mat-card-image src="assets\image\OIP (13).jpeg" alt="Image 5"> -->
    </mat-card>
    <mat-card class="gallery-card">
        <img mat-card-image src="assets\image\OIP (24).jpeg" alt="Image 4">
       
      </mat-card>
      <mat-card class="gallery-card">
        <img mat-card-image src="assets\image\Fire-Sprinkler-System.jpg"alt="Image 4" >
       
      </mat-card> 
      <mat-card class="gallery-card">
        <img mat-card-image src="assets\image\OIP (27).jpeg" alt="Image 4">
        
      </mat-card>
      <mat-card class="gallery-card">
        <img mat-card-image src="assets/solar.jpeg" alt="Image 4">
        
      </mat-card>
  
    <!-- Add more mat-cards as needed -->
  </div>
  
  


  

  
  
 
  