.order-now-section {
    margin-top: 40px;
  }
  
  .partner-link {
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .partner-link img {
    max-width: 150px;
    height: auto;
    transition: transform 0.2s ease-in-out;
  }
  
  .partner-link:hover img {
    transform: scale(1.1);
  }
  